* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*  Main Styles */
body{
    background: #222;
	color: #FFF;
}
header{
    top:0; left:0;
    height:45px;
}

header input {
	border: 1px solid black;
}

footer {
    bottom:0; left:0;
    height:48px;
    background-color:#c27b00;
    border-top:1px solid #eee;
}

header, footer{
    background-color:#deb500;
    padding:0;
    position:absolute;
    z-index:2;
    font-size:20px;
    width:100%;
    text-align:center;
    color:#f3f3f3;
    font-weight:bold;
    line-height:45px;
}

h1{
    margin:0;
    text-transform: uppercase;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    overflow:auto;
}

#main-content {
    position:absolute;
    z-index:1;
    width:100%;
    padding:0;
}
